body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    font-size: 14px;
}

#numberOfSolved {
    font-weight: bold;}


#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

#menu > a {
    margin: 5px 15px 5px 15px;
    font-variant: all-petite-caps;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #cccccc;
}

#menu > a:link, #menu > a:visited, #menu > a:active {
    color: inherit;
}

#menu > a:hover {
    text-decoration: none;
    font-weight: bold;
}

.duck-yes, .duck-no {
    width: 150px;
    height: 34px;
    font-size: 18px;
}

.input-row {
    min-height: 500px;
    height: 500px;
}

.input-row > * {
    height: 100%;
}

.duck-space {
    position: fixed;
    width: 300px;
    bottom: 10px;
    right: 10px;
}
